
<div class="search-cock">
    <div class ="search-bar-cock">

      <%= form_with url: cocktails_path(@cocktail), method: :get, class: "d-flex", id: 'form-cocktail' do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control-cock",
            placeholder: "Find your cocktail dream by name or ingredient..!"
        %>

          <%= submit_tag " ", id: "nav-bar-bnt-cock"  %>
      <% end %>
    </div>
  </div>
  <div class="line-orange">
  </div>
<div class="cocktails-index">
<%@cocktails = @cocktails.uniq { |cocktail| cocktail.name }%>
  <% @cocktails.each do |cocktail| %>
  <% if cocktail.name != nil %>
   <div class="cocktail-index">
      <%= link_to cocktail_path(cocktail) do %>
      <div class="type">
      <div class="image-cock">
        <%# <img class="image-cock" src="cocktail.image " alt="cocktail" style='height: 24.6vw;'> %>
      </div>

        <h2 style="font-size: 6vw;"> <%= cocktail.name %> </h2>
        <%= image_tag "fleche0.svg" %>
      </div>
        <% end %>
    <div class="line-white"></div>
  </div>
        <% end %>
  <% end %>
</div>
