<div class="search">
  <div class ="search-bar">

    <%= form_with url: cocktails_path(@cocktail), method: :get, class: "d-flex", id: 'form-cocktail' do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your dream cocktail by name or ingredients...!"
      %>
        <%= submit_tag " ", id: "nav-bar-bnt"  %>
    <% end %>
    <%= link_to "Get a Random Cocktail", search_path,class:'btn-black',:method => :get  %>
  <%# <a class='btn-black'>Get a Random Cocktail</a> %>
  </div>
</div>

  <div class="cocktail-sample">
  <%@cocktail = @cocktails.sample%>
 <% if @cocktail.name != nil %>
    <h2><%= @cocktail.name %></h2>
  <% end %>
    <div class="recette-sample">
      <p class="line-orange"></p>
        <h2>To do :</h2>
      <p class="line-orange"></p>
      <div class="ingr-im-sample">
        <div class="im-sample">
         <% if @cocktail.name != nil %>
          <img class="card-sample" src=<%= @cocktail.image%> >
          <% end %>
        </div>
        <div class="ingr-sample">
         <% if @cocktail.name != nil %>
            <% if @cocktail.ingredient1 != nil %>
            <h3><%= @cocktail.measure1 %> <%= @cocktail.ingredient1 %></h3>
          <% end %>
          <% if @cocktail.ingredient2 != nil %>
            <h3><%= @cocktail.measure2 %> <%= @cocktail.ingredient2 %></h3>
          <% end %>
          <% if @cocktail.ingredient3 != nil %>
            <h3><%= @cocktail.measure3 %> <%= @cocktail.ingredient3 %></h3>
          <% end %>
          <% if @cocktail.ingredient4 != nil %>
            <h3><%= @cocktail.measure4 %> <%= @cocktail.ingredient4 %></h3>
          <% end %>
          <% if @cocktail.ingredient5 != nil %>
            <h3><%= @cocktail.measure5 %> <%= @cocktail.ingredient5 %></h3>
          <% end %>
          <% if @cocktail.ingredient6 != nil %>
            <h3><%= @cocktail.measure6 %> <%= @cocktail.ingredient6 %></h3>
          <% end %>
          <% if @cocktail.ingredient7 != nil %>
            <h3><%= @cocktail.measure7 %> <%= @cocktail.ingredient7 %></h3>
          <% end %>
          <% if @cocktail.ingredient8 != nil %>
            <h3><%= @cocktail.measure8 %> <%= @cocktail.ingredient8 %></h3>
          <% end %>
          <% if @cocktail.ingredient9 != nil %>
            <h3><%= @cocktail.measure9 %> <%= @cocktail.ingredient9 %></h3>
          <% end %>
          <% if @cocktail.ingredient10 != nil %>
            <h3><%= @cocktail.measure10 %> <%= @cocktail.ingredient10 %></h3>
          <% end %>
          <% if @cocktail.ingredient11 != nil %>
            <h3><%= @cocktail.measure11 %> <%= @cocktail.ingredient11 %></h3>
          <% end %>
          <% if @cocktail.ingredient12 != nil %>
            <h3><%= @cocktail.measure12 %> <%= @cocktail.ingredient12 %></h3>
          <% end %>
          <% if @cocktail.ingredient13 != nil %>
            <h3><%= @cocktail.measure13 %> <%= @cocktail.ingredient13 %></h3>
          <% end %>
          <% if @cocktail.ingredient14 != nil %>
            <h3><%= @cocktail.measure14 %> <%= @cocktail.ingredient14 %></h3>
          <% end %>
          <% if @cocktail.ingredient15 != nil %>
            <h3><%= @cocktail.measure15 %> <%= @cocktail.ingredient15 %></h3>
          <% end %>
          <% end %>
        </div>
      <%# <div class="instr"> %>
        <h2>Have Fun !</h2>
         <% if @cocktail.name != nil %>
        <p><%= @cocktail.instruction %></p>
        <% end %>
      <%# </div> %>
      </div>
      <p class="line-orange"></p>
    </div>
  </div>
  <div class="illus">
<!---
    <%= image_tag "allcocktails2.png" %>
---->
  </div>
